/.vs
/AttendanceManagementPayrollSystem.Tests/bin
/AttendanceManagementPayrollSystem.Tests/obj
*.cache
*.json
*.txt
*.pdb
*.editorconfig
*.Up2Date
*.dll
*.props
*.targets
*.exe
*.Up2Date
*.cache
*.BuildWithSkipAnalyzers
*.rz.scp.css
*.styles.css
*.bundle.scp.css
/AttendanceManagementPayrollSystem/.vs
/AttendanceManagementPayrollSystem/obj
AttendanceManagementPayrollSystem/obj/Debug/net8.0/AttendanceManagementPayrollSystem.AssemblyInfo.cs
