@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <NavMenu />
    </LayoutHeader>

    <LayoutContent>
        <div class="p-3">
            @Body
        </div>
    </LayoutContent>
</Layout>

