<Bar ThemeContrast="ThemeContrast.Light" Background="Background.Light" Padding="Padding.Is2.OnY" Mode="BarMode.Horizontal">
    <BarBrand>
        <strong>Attendance System</strong>
    </BarBrand>

    <BarEnd>
        <div class="d-flex flex-row align-items-end gap-2">
        <BarItem><BarLink To="/">Home</BarLink></BarItem>
        <BarItem><BarLink To="/reports">Reports</BarLink></BarItem>
        <BarItem><BarLink To="/logout">Logout</BarLink></BarItem>
        </div>
    </BarEnd>
</Bar>