<div class="dashboard-btn-wrapper" hidden="@(!Visible)">
    <div class="dashboard-btn" @onclick="OnClick">
        <div class="icon-slot">
            <!-- Nếu sau này có icon SVG hoặc hình ảnh thì chèn vào đây -->
        </div>
    </div>
    <div class="btn-label">@Label</div>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool Visible { get; set; } = true;
}
