
@page "/shift/self"
@using System.Net.Http.Json
@using AttendanceManagementPayrollSystem.DTO
@using Microsoft.JSInterop
@using System.Text.Json
@inject NavigationManager Navigation
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JS

<h3>My Weekly Shift</h3>

@if (loading)
{
    <p>Loading...</p>
}
else if (shift == null)
{
    <p>No weekly shift found.</p>
}
else
{
    <WeeklyShiftView Shift="shift" />
}


@code {
    private WeeklyShiftDto? shift;
    private bool loading = true;
    private bool initialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !initialized)
        {
            initialized = true;

            try
            {
                var empJson = await JS.InvokeAsync<string>("localStorage.getItem", "employee");
                if (string.IsNullOrWhiteSpace(empJson)) return;

                var emp = JsonSerializer.Deserialize<EmployeeDTO>(empJson);
                if (emp == null) return;

                var client = ClientFactory.CreateClient();
                var response = await client.GetFromJsonAsync<WeeklyShiftDto>(
                    $"http://localhost:5038/api/shift/self?empId={emp.EmpId}");

                shift = response;
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
            finally
            {
                loading = false;
                StateHasChanged();
            }
        }
    }
}

