@page "/"
@page "/login"

@using AttendanceManagementPayrollSystem.DTO
@inject IHttpClientFactory HttpFactory
@inject NavigationManager Navigation
@inject IJSRuntime JS

<div class="login-page">
    <div class="login-card">
        <h2>Attendance & Payroll System</h2>

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="error-box">@ErrorMessage</div>
        }

        <EditForm Model="loginRequest" OnValidSubmit="HandleLogin" FormName="LoginForm">
            <InputText @bind-Value="loginRequest.Username" placeholder="Username" />
            <InputText @bind-Value="loginRequest.Password" type="password" placeholder="Password" />
            <button type="submit">Login</button>
        </EditForm>
    </div>
</div>

@code {
    private LoginRequest loginRequest = new();
    private string ErrorMessage;

    private async Task HandleLogin()
    {
        try
        {
            var client = HttpFactory.CreateClient();

            var response = await client.PostAsJsonAsync(
                "http://localhost:5038/api/auth/login", loginRequest);

            if (!response.IsSuccessStatusCode)
            {
                ErrorMessage = await response.Content.ReadAsStringAsync() ?? "Login failed";
                return;
            }

            var employeeDto = await response.Content.ReadFromJsonAsync<EmployeeDTO>();

            if (employeeDto?.EmpId != null)
            {
                var employeeJson = System.Text.Json.JsonSerializer.Serialize(employeeDto);
                await JS.InvokeVoidAsync("localStorage.setItem", "employee", employeeJson);
            }

            Navigation.NavigateTo("/dashboard");
        }
        catch (Exception ex)
        {
            ErrorMessage = "Login error: " + ex.Message;
        }
    }
}

